// Pallettes
$color-1: #3e56d1;
$color-2: #c4c8de;
$color-3: #636ea8;
$color-4: #ed9763;

// Fonts
$main-font: 'Fenix', serif;

// General

H2{ 
  color: $color-1;
}

a{
  text-decoration: none;
  color: #c4c8de;
}


// Partes

  .nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
  }

  .header{
    background-color: $color-1;
    color: $color-2;
  }

  .nav{
    display:grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: $main-font;
  }



  .content{
    display: grid;
    grid-template-rows: 1fr 80px;
    grid-template-columns: repeat(4,1fr);
    font-family: $main-font;
    text-align: center;
    background-color: $color-2;
    color: $color-3;
  }

  .main{
    padding: 20px;
    grid-column: 1 / span 4;
  }
